<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{&quot;time&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss.SSS}&quot;, &quot;thread&quot;:&quot;[%thread]&quot;, &quot;log.level&quot;:&quot;%level&quot;, &quot;log.class&quot;:&quot;%logger{36}&quot;, &quot;log.message&quot;:&quot;%msg&quot;}%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>